@model List<RatingsReviewsModel>

<h3>Ratings &amp; Reviews</h3>
<div class="c-content__filter c-content__filter--reviews h-clearfix">
    <div class="l-col l-col-4 l-col-xs-6">
        <select class="l-form-control l-form-select l-form-elem-custom" id="reviewType_ReviewFilter">
            <option>All reviews (16)</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="l-col l-col-4 l-col-xs-6">
        <select class="l-form-control l-form-select l-form-elem-custom" id="reviewOrder_ReviewFilter">
            <option>Newest first</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="l-col l-col-4 h-hide-on-mobile">
        <button type="button" class="l-btn l-btn--action l-btn--blue">Write a Review</button>
    </div>
</div>

<div class="c-content__reviews">
@foreach (var item in Model)
{   <div class="c-content__review-item">
        <div class="c-content__review-summary">
            <div class="c-content__review-info">
                <div class="c-content__review-date">
                   @item.Date
                </div>
                <div class="c-content__rating c-content__rating--review">
                    <div class="c-content__rating-stars">
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
                    </div>
                    <div class="c-content__rating-info">
                        <div class="c-content__review-average">@item.Rating.Score</div>
                    </div>
                </div>
                <div class="c-content__review-author">
                    Reviewed by: @item.Name
                </div>
                <div class="c-content__review-home">
                    @item.Address
                </div>
            </div>
            <div class="c-content__skill-bars c-content__skill-bars--review">
                @foreach (var r in item.Ratings)
                {
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">@r.Title</div>
                    <div class="c-content__skill-bar-average">@String.Format("{0:n1}", r.Score)</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:@r.Percentage;"></div>
                    </div>
                </div>
                }
                @*<div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Process expertise</div>
                    <div class="c-content__skill-bar-average">4.2</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:84%;"></div>
                    </div>
                </div>
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Responsiveness</div>
                    <div class="c-content__skill-bar-average">5.0</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:100%;"></div>
                    </div>
                </div>
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Negotiation Skills</div>
                    <div class="c-content__skill-bar-average">4.1</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:82%;"></div>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="c-content__review-content">
            @item.Description <a class="l-toggle-content-link" href="#">More</a>
        </div>
    </div>
}
 
    @*<div class="c-content__review-item">
        <div class="c-content__review-summary">
            <div class="c-content__review-info">
                <div class="c-content__review-date">
                    09/24/2017
                </div>
                <div class="c-content__review-meta h-hide-on-desktop">
                    <div class="c-content__review-author">
                        Reviewed by: russroberts
                    </div>
                    <div class="c-content__review-home">
                        Bought a home in 2017 in El Cajon, CA
                    </div>
                </div>
                <div class="c-content__rating c-content__rating--review">
                    <div class="c-content__rating-stars">
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--full"></span>
                        <span class="c-content__rating-star c-content__rating-star--half-full"></span>
                    </div>
                    <div class="c-content__rating-info">
                        <div class="c-content__review-average">4.5</div>
                    </div>
                </div>
                <div class="c-content__review-meta h-hide-on-mobile">
                    <div class="c-content__review-author">
                        Reviewed by: russroberts
                    </div>
                    <div class="c-content__review-home">
                        Bought a home in 2017 in El Cajon, CA
                    </div>
                </div>
            </div>
            <div class="c-content__skill-bars c-content__skill-bars--review">
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Local knowledge</div>
                    <div class="c-content__skill-bar-average">4.5</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:90%;"></div>
                    </div>
                </div>
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Process expertise</div>
                    <div class="c-content__skill-bar-average">4.2</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:84%;"></div>
                    </div>
                </div>
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Responsiveness</div>
                    <div class="c-content__skill-bar-average">5.0</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:100%;"></div>
                    </div>
                </div>
                <div class="c-content__skill-bar">
                    <div class="c-content__skill-bar-title">Negotiation Skills</div>
                    <div class="c-content__skill-bar-average">4.1</div>
                    <div class="c-content__skill-bar-row--default">
                        <div class="c-content__skill-bar-row" style="width:82%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-content__review-content">
            Most important to me was communication and Mark saw that every question or concern of ours we met with full and complete information.
            In most cases, Mark delivered information to us before we even had to ask.
            I look forward to working with Mark in the future because I know that I can trust him to <a class="l-toggle-content-link" href="#">More</a>
        </div>
    </div>*@
</div>



<div class="c-content__copyright c-content__copyright--zillow">
    <div class="c-content__logo-copyright">
        <a href="#">Zillow</a>
    </div>
    <p>
        &copy; Zillow, Inc., 2006-2016. Use is subject to <a href="#">Terms of Use</a>
    </p>
    <p>
        <a href="#">What's a Zestimate?</a>
    </p>
</div>
