@model AgentProfileModel

   
<div class="c-content__agent-overview l-col l-col-8">
    <div class="c-content__agent-card">
        <h1>@Model.Name</h1>
        <div class="c-content__agent-profile-photo">
            <img src="@Model.ImageUrl" alt="">
        </div>
        <div class="c-content__agent-rating">
            <div class="c-content__agent-stars">
                <span class="c-content__agent-star c-content__agent-star--full"></span>
                <span class="c-content__agent-star c-content__agent-star--full"></span>
                <span class="c-content__agent-star c-content__agent-star--full"></span>
                <span class="c-content__agent-star c-content__agent-star--full"></span>
                <span class="c-content__agent-star c-content__agent-star--half-full"></span>
            </div>
            <div class="c-content__agent-info">
                <div class="c-content__agent-average">@Model.AgentInfoAvg</div>
                <a href="#" class="c-content__agent-review-count">@Model.AgentInfoTotalReviewCount</a>
            </div>
        </div>
        <div class="c-content__agent-skill-bars">
@if (Model.AgentSkills.Count > 0)
{
    @foreach (var item in Model.AgentSkills)
    {
            <div class="c-content__agent-skill-bar">
                <div class="c-content__agent-skill-bar-title">@item.Title</div>
                <div class="c-content__agent-skill-bar-average">@String.Format("{0:n1}", item.Score)</div>
                <div class="c-content__agent-skill-bar-row--default">
                    <div class="c-content__agent-skill-bar-row" style="width:@item.Percentage;"></div>
                </div>
           </div>
    }
            }
        </div>
    </div>
    <div class="c-content__agent-desc">
        @Html.Raw(Model.About)
    </div>
</div>

@Html.Partial("~/Views/AgentContact/_AgentContact.cshtml", Model.AgentContact)